
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #f9f8fc;
  --balck: #0e172c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
}

.btn {
  color: var(--black);
  background-color: pink;
}

.btn:hover {
  color: var(--white);
  background-color: var(--black);
  transition: 0.3s ease-in-out all;
}

#quote-box {
  background-color: #d9d4e7;
}

#text {
  font-size: 2rem;
}

#author {
  font-size: 1.2rem;
  text-align: right;
}