:root {
  /* grey */
  --grey-50: #fafafa;
  --grey-100: #f4f4f5;
  --grey-200: #e4e4e7;
  --grey-300: #d4d4d8;
  --grey-400: #a1a1aa;
  --grey-500: #71717a;
  --grey-600: #52525b;
  --grey-700: #3f3f46;
  --grey-800: #27272a;
  --grey-900: #18181b;
  /* basic */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey-300);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
}

.wrapper {
  background-color: var(--grey-900);
}

#quote-box {
  background-color: var(--grey-300);
}

#text {
  font-size: 1.6rem;
}

#author {
  font-size: 1.2rem;
  text-align: right;
}


#tweet-quote,
#new-quote {
  color: var(--grey-300);
  background-color: var(--grey-900);
  padding: 10px 14px;
  transition: 0.3s ease-in-out all;
}

#tweet-quote:hover,
#new-quote:hover {
  color: var(--grey-300);
  background-color: var(--grey-700);
}

.fa-solid {
  margin-right: 10px;
}